<!DOCTYPE html>
{{#if resume.meta.language}}
<html lang="{{resume.meta.language}}">
{{else}}
<html>
{{/if}}
  <head>
    {{> about }}
    {{#if resume.custom.xTwitterHandle}}
    <meta name="twitter:site" content="{{resume.custom.xTwitterHandle}}">
    {{/if}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">

    <style>{{{css}}}</style>
  </head>
  <body>
    {{> core-profile}}
    {{> work}}
    {{> volunteer}}
    {{> education}}
    {{> skills}}
    {{> languages-table}}
    {{> interests}}
    {{> references}}
  </div>
  </body>
</html>
